@using Nomina.BLL
@using RH.Entidades

@{
    var ejercicio = ViewBag.ejercicio as List<NOM_Ejercicio_Fiscal>;
    var empresas = ViewBag.empresas as List<Empresa>;
    var clientes = ViewBag.sucursales as List<Cliente>;
}

<div class="col-md-12">
    <div class="col-md-3">
        <div class="ejercicio">
            <div class="form-group">
                <label>Ejercicio: </label>
                <select id="ejercicio" class="form-control">
                    @foreach (var e in ejercicio)
                    {
                        <option value="@e.IdEjercicio">@e.Anio</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="empresa">
            <div class="form-group">
                <label>Empresa: </label>
                <select id="empresa" class="form-control">
                    <option value="0">Todas las Empresas </option>
                    @foreach (var em in empresas)
                    {
                        <option value="@em.IdEmpresa">@em.IdEmpresa - @em.RazonSocial</option>
                    }
                </select>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="empresa">
            <div class="form-group">
                <label>Clientes: </label>
                <select id="clientes" class="form-control">
                    <option value="0">Todas los clientes</option>
                    @foreach (var cli in clientes)
                    {
                        <option value="@cli.IdCliente">@cli.Nombre</option>
                    }
                </select>
            </div>
        </div>
    </div>


   
    <div class="col-md-3">
        <div class="ejercicio">
            <div class="form-group">
                <label>*</label>
                <a class="btn btn-primary form-control" id="descargarAnual">Generar Reporte Anual</a>
            </div>
        </div>
    </div>
</div>
<a id="downAnual" href="#" style="display: none !important;">Descargar Acumulado</a>
<script>
       $(document).ready(function () {

           $("#descargarAnual").click(function () {
                        
                        var ejercicio = $('#ejercicio').val();
                        var empresa = $('#empresa').val();
                        var cliente = $('#clientes').val(); 

                        var xhr = $.ajax({
                            url: '/ReportesGeneral/GeneraReporteAnual/',
                            method: "POST",
                            data: {
                                idEjercicio: ejercicio,                            
                                idEmpresa: empresa,
                                idCliente: cliente                              
                            },
                            beforeSend: function (xhr) {
                                waitingDialog.show('Generando Reporte de Anual...');
                            },
                            success: function (data) {
                                if (data.success) {
                                    $("#downAnual").attr("href", data.resultPath);
                                    window.location = data.resultPath;
                                } else {
                                    utils.showMessage("INFO", data.error, 8000);
                                }
                            },
                            error: function (data) {
                                alert(data.error);
                            },
                            complete: function (data) {
                                waitingDialog.hide();

                            }
                        });
                    });

                });
</script>

